<a href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
  <i class="custom-icon"></i>
</a>
<ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
    <li>
      <a class="dropdown-item new-notification" href="#">#04 notification</a>
    </li>
    <li>
      <a class="dropdown-item new-notification" href="#">#03 notification</a>
    </li>
    <li>
      <a class="dropdown-item" href="#">#02 notification</a>
    </li>
    <li>
      <a class="dropdown-item" href="#">#01 notification</a>
    </li>
</ul>