<header class="navbar navbar-expand-md navbar-light">
    <nav class="container_header container-fluid">
        <img class="navbar-brand" src="../../../assets/images/logo.png" alt="Buletin">

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item d-sm-none d-md-block"> | </li>
                <li class="nav-item">
                    <a href="#">Stories</a>
                </li>
                <li class="nav-item">
                    <a href="#">Creator</a>
                </li>
                <li class="nav-item">
                    <a href="#">Community</a>
                </li>
                <li class="nav-item">
                    <a href="#subscribe">Subscribe</a>
                </li>
            </ul>

            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a href="#">
                        <i class="bi bi-pencil-square pe-2"></i>
                        Write
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#">
                        <app-notification-dropdown></app-notification-dropdown>
                    </a>
                </li>
                <li class="nav-item">
                    <app-user-dropdown></app-user-dropdown>
                </li>
            </ul>
        </div>
    </nav>
</header>