
@media screen and (width >= 980px) {
    .fetured-article .image-container {
        height: 350px !important;
    }
    
    .fetured-article .card-content .article-title {
        font-size: 2.5rem;
    }
    
    .fetured-article .card-content .article-resume {
        font-size: 1.2rem;
    }
    
    .fetured-article .card-content .author-timestamp_info span, .fetured-article .card-content .category-reading-time_info span {
        font-size: 1rem;
        margin-right: 10px;
    }
}
